@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* body{background-color: rgb(227, 247, 227)} */

.header1{
  width: 100%;
  height: 70px;
  background-color: rgb(255, 254, 254, 0.7);
  position: fixed; /* 헤더상단고정(배경이랑 같이보일수 있게끔) */
  display: flex;
  z-index: 10;
}

nav{
  position: relative; /* 왼쪽서브배경박스의 이미지 위치 기준 */
  width: 1400px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1{
  /* border: 1px solid yellow; */
  flex: 2;
}

/* Menu */
.gnb{
  /* border: 1px solid green; */
  height: 70px;
  flex: 6;
  display: flex;
  text-align: center;
}

.gnb>.main{
  width: 150px;
}

.gnb>.main>a{
  /* border: 1px solid red; */
  display: block;
  position: relative;
  width: inherit;
  height: 70px;
  line-height: 70px;
  /* color: #666; */
  color: rgb(83, 80, 80);
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.gnb>.main>a:after{ /* 삼각형 */
  content: "\f0dd";
  font-family: fontawesome;
  position: absolute;
  top: -2px;
  right: 10px;
  color: #666;
  display: none;
}

.gnb>.main:hover>a{color: #75be82;}
.gnb>.main:hover>a:after{color: #75be82;}


/* Sub Menu */
.sub_all{
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  border-left: solid 1px #e8e8e8;
  background-color: transparent;
  width: 150px;
  height: 450px;
}

.last{border-right: solid 1px #e8e8e8;}
.sub_all li{
  width: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_all li a{
  color: #666;
  font-size: 14px;
}


.sub_all li:hover a{
  color: rgb(104, 151, 109);
  text-decoration: underline;
}

/* 100%서브배경박스 */
.sub_bgbox{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

/* 서브왼쪽배경이미지 */
.subBoxImg ul li{ /* 모든 이미지를 한 위치에 겹쳐놓음 */
  display: none;
  position: absolute;
  top: 110px;
  left: 50px;
  z-index: 200;
}

.subBoxImg h3{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(68, 189, 171);
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

.subBoxImg p{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(128, 128, 128);
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}


/* -----------메인 이미지--------- */


.fadeShow{
  position:relative;
  width: 100vw;
  height: 100vh;
  margin:auto;
  overflow: hidden;
  z-index: -10;
}

/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.changeimg ul li{
  opacity: 0;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
  transform: scale(1.2);
  transition: 1.5s;
}
.changeimg ul li.imgVisible{   /*->jQuery 에서 불러냄*/
  opacity:1;
  transform:scale(1);
  z-index: 1000;
}

.changeimg ul li:nth-child(1){background-image:url(../image/main_image1.jpg);}
.changeimg ul li:nth-child(2){background-image:url(../image/main_image2.jpg);}
.changeimg ul li:nth-child(3){background-image:url(../image/main_image3.jpg);}


/*비주얼 텍스트 공통*/
.des{ 
  position:absolute;
  bottom:10px;
  right:10px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition:all 1s;
}
.des.textVisible{ /*->jQuery 에서 불러냄*/
  opacity: 1;
  transform: translate(-50%,-50%);
}

.des p{
  font-size: 30px;
}

.des p span{
  font-size: 39px;
}
/* ----------------첫번째 섹션(아이콘슬라이드배너)------------ */

.banner_area{
  height: 300px;
  margin-top: 30px;
}

.banner_area h2{
	text-align: center;
	font-size: 28px;
	color: rgb(4, 59, 16);
	margin-bottom: 20px;
  margin-top: 20px;
	font-weight: bold;
	position: relative;
}
.banner_area h2:before{

}
.banner_area h2:before, 
.banner_area h2:after{
  content: '';
  background-color: rgb(4, 59, 16);
  width: 40%;
  height: 1px;
  position: absolute;
  top: 20px;
}
.banner_area h2:before{left: 0;}
.banner_area h2:after{right: 0;}

.banner{  /*배너전체영역*/
	position:relative;
	width:1300px;
	height:150px;
	/* border: 1px solid #ff00ff; */
	margin: auto;
  margin-top: 20px;
}
.banner .ban{   /*슬라이드영역*/
	width:1180px; /*보여주는 폭을 줄이고자 할때 가로폭을 맞춰서 줄여줌*/
	height:160px;
	overflow:hidden;
	position: absolute;
	top: 15px;
	left: 60px;
	/* border: 1px solid red; */
}
.banner .ban ul{
	display: flex;
	position:relative;
	left:-145px;  
	/*html의 이미지목록에서 끊기지 않고 이어지는 이미지를 위해서 맨 마지막 이미지를 맨 앞에 두었지만,
	실행화면에 보이는 이미지는 첫번째 이미지어야 하므로, 맨 마지막 이미지를 맨앞에 넣어둔것을 다시 왼쪽으로(left:-255px) 밀어둠 */
}
.banner .ban ul li{
  margin-top: 5px;
	margin-right:30px;
	width: 55px;
	height:55px;
  border-radius: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px #c3ecc5;
  cursor: pointer;
  transition: 0.5s;
  border: 0.5px solid #c3ecc5;
}

.banner .ban ul li:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgb(82, 173, 138);
}

.banner .ban ul li img{
  width: 55px;
  height: 45px;
}

.banner .ban ul li p{
  margin-top: 15px;
  /* border: 1px solid #000; */
  width: 100px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #666;
}


/*좌우버튼*/
.ban_left{
	position:absolute;
	top:60px;
	left:30px;
	cursor:pointer;
}
.ban_right{
	position:absolute;
	top:60px;
	right:30px;
	cursor:pointer;
}
.ban_btn span{
	display:inline-block;
	width:17px;
	height:27px;	
}
.ban_btn .ban_left{background:url(../image/main-event-left_02.png) no-repeat;}
.ban_btn .ban_right{background:url(../image/main-event-right_02.png) no-repeat;}
.ban_btn .ban_left:hover{background:url(../image/main-event-left_01.png) no-repeat;}
.ban_btn .ban_right:hover{background:url(../image/main-event-right_01.png) no-repeat;}

/* ---------------알림판, 누리소통망, 시스템안내 영역 */

.notice_area{
  padding-top: 50px;
  height: 750px;
  width: 100%;
  background-color: #e6ffe9;
}

.notice_area h2{
	text-align: center;
	font-size: 28px;
	color: rgb(4, 59, 16);
	margin-bottom: 20px;
  margin-top: 20px;
	font-weight: bold;
	position: relative;
}
.notice_area h2:before{

}
.notice_area h2:before, 
.notice_area h2:after{
  content: '';
  background-color: rgb(4, 59, 16);
  width: 40%;
  height: 1px;
  position: absolute;
  top: 20px;
}
.notice_area h2:before{left: 0;}
.notice_area h2:after{right: 0;}

/* ---------------탭창 */

#tabmenu1{
  width:1600px;
  height:550px;
  margin:30px auto;
  padding:30px;
  background:#ecfcf5;
  position: relative;
  display: flex;
}
.tab-header1{ /* 옆에 창(3개) */
  width:200px;
  height: 250px;
  margin-top: 120px;
  position:relative;
  /* border: 1px solid #000; */
}
.tabb li{
  width:160px; 
  height:70px; /*->jQuery에서 탭메뉴 움직이는 거리*/
  box-sizing:border-box;
  float:left;
  border-bottom:1px solid #ccc;
  color:#000;
  font-size:20px;
  font-weight: 500;
  line-height:70px;
  text-align:center;
  letter-spacing:1px; 
  position:relative;
  z-index:100;
  cursor: pointer;
}
.tabb li:last-of-type{border-bottom:1px solid #ccc;}
.tabb li.active{
  color:#000000;
  font-weight: bold;
  font-size: 21px;
} /*1번째 선택된 글자색 */
.tab-highlight1{  /*현재 선택된 탭메뉴->옆으로 이동하는 박스*/
  border-bottom: #000; 
  width: 160px;
  height:70px; 
  position:absolute;
  width:160px;
  left:0px;
}
.tab-highlight1:after{   /*삼각형모양*/
  content:"";
  position:absolute;
  right:-12px;
  top:35%;
  margin-left:-17px;  
  z-index:10;
  width:0;
  height:0;
  border-top: 12px solid transparent;
  border-left: 12px solid #06a34d;
  border-bottom: 10px solid transparent;
}


/*Tab Mneu Contents ------------*/
/* 첫번째 탭------------- */
.tab-contents1{
  width: 700px;
}


#tabb1, #tabb2, #tabb3{
  margin-top:-30px;
  width:1300px;
  height:550px;
  padding:20px;
  /* border: 1px solid red; */
  position: relative;
  display:none;
}
#tabb1.active, 
#tabb2.active, 
#tabb3.active {
  display:block;
}

.tab_ins1{ /* 첫번째 탭 안쪽박스들 */
  display: flex;
  gap: 30px;
  /* border: 1px solid blue; */
  margin-bottom: 15px;
  margin-top: 30px;
}

.tab-contents #tabb1, #tabb2, #tabb3{
  background-color:transparent;
}

.tab_in1{ /* 첫번째 탭박스 하나하나 */
  width: 300px;
  height: 225px;
  text-align: center;
  transition: 0.5s;
}

.tab_in1 p{
  margin-top: -10px;
  color: #666;
  font-weight: bold;
  transition: 0.5s;
}

.tab_in1:hover.tab_in1 img{
  box-shadow: 3px 3px 3px #000;
}

.tab_in1:hover.tab_in1 p{
transform: scale(1.05);
color: #000;
}

.read-more{ /* 더보기 */
  color: #777;
  font-size:15px;
  font-weight: bold;
  display:inline-block;
  padding:0px 11px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  transition: 0.5s;
  text-decoration: underline;
}

.read-more:hover{
  color: #000;
  transform: scale(1.05);
}

#tabb1 img{
  /* border: 1px solid pink; */
  width: 300px;
  height: 180px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}


/* 두번째 탭 -------------- */

#tabb2 img{
  /* border: 1px solid pink; */
  width: 280px;
  height: 380px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  
}

.tab_ins2{ /* 두번째 탭 안쪽박스들 */
  display: flex;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid blue; */
  margin-bottom: 10px;
  margin-top: 0px;
}

.tab_in2{ /* 두번째 탭 박스 하나하나 */
  width: 300px;
  height: 450px;
  text-align: center;
  transition: 0.5s;
  margin-top: 20px;
  /* border: 1px solid #000; */
}

.tabb2_maintext{
  color: #000;
  font-size: 17px;
  font-weight: bold;
  transition: 0.5s;
}

.tabb2_subtext{
  margin-top: 5px;
  color: #666;
  font-weight: bold;
  transition: 0.5s;
  text-align: center;
  font-size: 13px;
}

.tab_in2:hover.tab_in2 img{
  box-shadow: 3px 3px 3px #000;
  transform: scale(1.05);
}

.tab_in2:hover.tab_in2 p{
transform: scale(1.05);
color: #000;
}


/* 세번째 탭----------------------------------- */


#tabb3 img{
  /* border: 1px solid pink; */
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  
}

.tab_ins3{ /* 세번째 탭 안쪽박스들 */
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.tab_in3{ /* 세번째 탭 박스 하나하나 */
  width: 320px;
  height: 200px;
  text-align: center;
  transition: 0.5s;
  margin-top: 10px;
  /* border: 1px solid #999; */
  border-radius: 10%;
  align-items: center;
  background-color: rgb(182, 233, 240);
  padding: 25px 15px 15px 15px;
}

.tabb3_maintext{
  color: #000;
  font-size: 17px;
  font-weight: bold;
  transition: 0.5s;
}

.tabb3_subtext{
  margin-top: 10px;
  color: #666;
  font-weight: bold;
  transition: 0.5s;
  text-align: center;
  font-size: 13px;
}

.tab_in3:hover.tab_in3 img{
  transform: rotate(20deg);
}

.tab_in3:hover.tab_in3 p{
color: #000;
transform: scale(1.05);
}


/* 공고, 채용 -----------------------------------------------*/
.ac_area{
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  background-image: url(../image/main_image3.jpg);
}

#tabmenu2{ /* 회색부분 */
  width:800px;
  height:280px;
  margin:30px 180px; /* 회색박스 뗄꺼면 이걸로 조절 */
  padding:30px;
  background:#f3f6f7;
  /* border: 1px solid #000; */
}
.tab-header2{
  /* border: 1px solid red; */
  width:100%;
  height:70px;
  position:relative;
}
.tab{display: flex;}
.tab li{
  width:160px; /*->jQuery에서 탭메뉴 움직이는 거리*/
  height:50px;
  box-sizing:border-box;
  border-left:1px solid #ccc;
  color:#000;
  font-size:17px;
  line-height:50px;
  text-align:center;
  letter-spacing:1px; 
  /* position:relative; */
  z-index:100;
  cursor: pointer;  
}
.tab li:last-of-type{border-right:1px solid #ccc;}
.tab li.active{color:#fff;} /*1번째 선택된 글자색 */
.tab-highlight2{  /*현재 선택된 탭메뉴->옆으로 이동하는 박스*/
  background:#569e46;
  width:160px;
  height:50px; 
  position:absolute;
  top: 0px;
  left:0px;
  
}
/* .tab-highlight2:after{ 삼각형모양
  content:"";
  position:absolute;
  bottom:-13px;
  left:55%;
  margin-left:-17px;  
  z-index:10;
  width:0;
  height:0;
  border-left:12px solid transparent;
  border-right:12px solid transparent;
  border-top:15px solid #569e46;
} */


/*Tab Mneu Contents ---------------------------------------*/
.tab-contents2{
  width: 700px;
}

#tab1, #tab2, #tab3, #tab4{
  margin-top:0px;
  width:700px;
  height:150px;
  padding:20px;
  display:none;   
}

#tab1.active,
#tab2.active,
#tab3.active,
#tab4.active{
  display:block;
}

.tab-contents2 #tab1,#tab2, #tab3, #tab4{background-color:#e0f7db;}


/* ---------탭메뉴 글자들 */


.ac_alltext{
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.ac_text{
  font-size: 17px;
  /* border: 1px solid #000; */
  cursor: pointer;

}

.ac_date{
  color: #666;
  /* border: 1px solid #000; */
}

.ac_text:hover{
  text-decoration: underline;
}

.ac_date:hover{
  text-decoration: underline;
}

/* -----------------미정 */
.rd{
  position: absolute;
  width: 720px;
  height: 340px;
  /* border: 1px solid pink; */
  right: 180px; /* 회색박스 뗄꺼면 이걸로 조절 */
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f6f7;
  padding:0px 30px /* 회색박스 뗄꺼면 이걸로 조절 */
}


.captain img{
  position: relative;
}

.captain_texts{
  position: absolute;
  top: 100px;
  left: 60px;
  color: white;
}

.captain_title{
  font-weight: bold;
  font-size: 17px;
}

.captain_text{
  border: 2px solid white;
  text-align: center;
  padding: 5px 0;
  margin-bottom: -15px;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.captain_text:hover{
  color: #000;
  background-color: white;
}

/* ------국제사회와 신림 */
.tree{
  /* border: 1px solid #000; */
  width: 343px;
  height: 202px;
  border-radius: 10px;
  background-color: rgb(53, 73, 109);
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.tree img{
  width:47px;
  height: 51px;
  margin-bottom: 15px;
  transition: 0.5s;
}

.tree1, .tree2{
  border: 1px solid white;
  background-color: rgb(213, 236, 240);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.tree p{
  font-weight: bold;
  color: #333;
}

.tree1:hover.tree1 img{
  transform: rotate(30deg);
}

.tree2:hover.tree2 img{
  transform: rotate(30deg);
}

.tree1:hover.tree1 p{
  text-decoration: underline;
}

.tree2:hover.tree2 p{
  text-decoration: underline;
}

/* -----------------------광고배너슬라이드영역 */

.ad_area{
  width: 100%;
  height: 450px;
  background-color: #deffe4;
  display: flex;
}

#slideShow{
  position: relative;
  width: 800px;
  height: 400px;
  margin-left: 180px;
  overflow: hidden; /* (2) 넘치는 자식 보이지 않게 -> 슬라이드가 보여지는 영역 */
  margin-top: 0px;
  display: inline-block;
}

#slideShow h2{
	text-align: center;
	font-size: 28px;
	color: rgb(4, 59, 16);
	margin-bottom: 20px;
  margin-top: 20px;
	font-weight: bold;
	position: relative;
}
#slideShow h2:before{

}
#slideShow h2:before, 
#slideShow h2:after{
  content: '';
  background-color: rgb(4, 59, 16);
  width: 40%;
  height: 1px;
  position: absolute;
  top: 20px;
}
#slideShow h2:before{left: 0;}
#slideShow h2:after{right: 0;}

.slide img{
  width: 800px;
  height: 301px;
}

.slide ul{
  position: absolute;
  display: flex; /* (1)슬라이드가 가로방향일때만 -> 가로배열 */
}


/* 하단버튼 */
.slide_btn{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.slide_btn ul{display: flex;}
.slide_btn ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9e9e9e;
  margin: 0 7px;
  cursor: pointer;
}

.slide_btn ul li.active{background: #000000;}

/* 좌우버튼 */

.slide_side_btn .pre{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 10px;
  width: 65px;
  height: 65px;
  background: url(../image/left-off.png) no-repeat;
}

.slide_side_btn .pre:hover{
  background: url(../image/left-on.png) no-repeat;
}

.slide_side_btn .nex{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 10px;
  width: 65px;
  height: 65px;
  background: url(../image/right-off.png) no-repeat;
}

.slide_side_btn .nex:hover{
  background: url(../image/right-on.png) no-repeat;
}


/* Play, Stop 버튼 */
.playstop .stop{
  position: absolute;
  bottom: 0px;
  left: 550px;
  width: 8px;
  height: 11px;
  background: url(../image/btn_pause.png) no-repeat;
}

.playstop .play{
  position: absolute;
  bottom: 0px;
  left: 550px;
  width: 8px;
  height: 11px;
  background: url(../image/btn_play.png) no-repeat;
}

/* 뉴스존---------------------------------------- */
@import url(common.css);

.news{
	width:700px;
	height:400px;
	margin:0 auto;
	padding: 20px;
	/* border: 1px solid #000; */
}
.news h2{
	text-align: center;
	font-size: 28px;
	color: rgb(4, 59, 16);
	margin-bottom: 20px;
	font-weight: bold;
	position: relative;
}
.news h2:before{

}
.news h2:before, 
.news h2:after{
  content: '';
  background-color: rgb(4, 59, 16);
  width: 40%;
  height: 1px;
  position: absolute;
  top: 20px;
}
.news h2:before{left: 0;}
.news h2:after{right: 0;}

.news_in{
	/* border: 1px solid red; */
	position: relative;
	width: 100%;
	height: 300px;
}
.news_list li{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}
.news_list li:first-child{display:inline-block;}
.news_img{
	float: left;
	width: 300px;
	margin-right: 20px;
}
.news_img img{width: 300px;}
.news_text h3{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}
.news_text p{
	font-size: 14px;
	color: #666;
	line-height: 22px;
}
.news_text strong{
	display: block;
	margin-top: 20px;
	text-align: right;
	font-weight: normal;
	color: royalblue;
}

.nbtn{
	position: absolute;
	right: 320px;
	bottom: -39px;
}
.fa{
	background-color: #ddd;
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 20px;
	margin-right:3px;
	cursor: pointer;
}
.fa:hover{
	color: crimson;
}






/* --------------푸터 */
.footer_top{
  width: 100%;
  height: 60px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: #ebebeb;
  border-top: 2px solid #777;
}

.footer_top img{
  cursor: pointer;
  transition: 0.5s;
}

.footer_top img:hover{
  transform: scale(1.05);
}


.footer_under{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first_text{
  margin-bottom: 10px;
  cursor: pointer;
  color: #333;
}


.first_text strong{
  cursor: pointer;
}

.second_text{
  font-size: 15px;
  color: #333;
}

.third_text{
  font-size: 15px;
  color: #333;
}

.footer_mark{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

